<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet/CSS" src="/public/style.css" />
    <title>New</title>
</head>

<body>
          <form action="/budget/" method="POST">
          
                <input class="u-full-width" type="Date" name="date" placeholder="Date" />
            
                <input class="u-full-width" type="text" name="name" placeholder="Name" />
          
                <input class="u-full-width" type="text" name="date" placeholder="Amount (USD)" />
         
                <input class="u-full-width" type="text" name="from" placeholder="From" />
      
                <input class="u-full-width" type="text" name="tags" placeholder="Tags" />
           
                 <input type="submit" value="Add Budget Item" onsubmit="setTimeout(function(){window.location.reload();},5);" />
           
        </form>

</body>

</html>